
.account-info {
    max-width: 800px;
    width: 100%;
    padding: 0 50px 0 50px;
}

.account-info .info-title {
    font-size: 30px;
    text-align: center;
    margin: 30px 0 20px 0;
}

.account-info .info-subtitle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-bottom: 1px gray solid;
}

.account-info .info-subtitle-left {
    font-size: 20px;
}

.account-info .info-subtitle-right {
    color:#0058a3;
    text-decoration: underline;
}

.account-info .info-content {
    text-align: left;
    margin: 10px 0 10px 10px;
    font-size: 15px;
}

.account-info .info-content .payment {
    margin: 20px 0 10px 0;
}
