.account-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.account-nav {
    margin-top: 50px;
    width: 100%;
    max-width: 230px;
    height: 300px;
    border: 1px solid gray;
}

.account-nav-title {
    margin: 20px 0 10px 0;
    padding-left:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.account-nav-title-left {
    font-size: 20px;
    margin: auto;
}

.account-nav-title-right {
    font-size: 13px;
    margin: auto;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: underline;
    color: gray;
}

.account-nav-title-right:hover {
    color: #03294b;

}

.account-nav .nav-list li{
    list-style-type: none;
    text-align: left;
    margin: 15px 0 15px 0;
    border-bottom: 1px solid gray;
    color: black;
}

.accountContent{
    max-width: 800px;
    width: 100%;
    padding: 50px 20px 50px 50px;
    /* padding: 0; */
}