.Botton {
    margin-bottom: 25px;
    background-color:  #0058a3;
    color: white;
}

.Botton h3 {
    display: inline;
    padding:10px;
}

.Botton .Icon {
    display: inline;    
}

.Botton h4 {
    text-align: center;
}

.BottonName{
    list-style: none;
    display: inline-block;
    width: 25%;
    vertical-align: top;

}

.Botton h4 {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-width: 1px;
}
.Botton ul{
    list-style: none;
    display: inline-block;
    margin:auto;
    text-align: center;
    padding-left:0;
    padding: 40px 0 40px 0;
}

.Botton ul li {
    padding: 3px 0 3px 0;
}
