.Head {
    padding-bottom: 10px;
    border-bottom:1px solid gray;
}
.Head1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.Head1 .SocialMedia {
    display: flex;
    flex-direction: row;
}

.Head1 .SocialMedia a{
    padding:0 5px 0 5px;
}
.Head1 .Tel {
    display: flex;
    flex-direction: row;
}

.Head1 .Tel span {
    padding-right: 10px;
}

.Head2 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Head2 .Logo {
    font-size: 30px;
    border:1px solid #0058a3;
    background-color: #0058a3;
    padding:0 4px 0 4px;
    margin-left: 5px;
}

.Head2 a{
    color: white;
}

.Head2 .Search-field {
    border-radius: 50em;
    border-style: solid;
    border-width: 1px;
    max-width:1000px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Head2 .Search-field input {
    padding: .75rem 7.25rem .75rem 0;
    width: 100%;
    border: none;
    outline:none;
    align-items: flex-start;
    border-radius: 50em;
}

.Head2 .UserCart {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.Head2 .UserCart .Icon {
    margin: 0 7px 0 7px;
}
.Head3 {
    background-color:#0058a3;
}
.Head3 .Navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:auto;
}

.Head3 .Navbar .dropdowm{
    float:left;
    overflow: hidden;
}

.Head3 .Navbar .dropbtn{
    font-size: 10px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    height: 64px;
}

.Head3 .Navbar .dropbtn a {
    color: white;
    font-weight: 800%;
}
.Navbar .dropdown:hover .dropbtn {
    background-color: white;
  }

  .Navbar .dropdown:hover .dropbtn a {
    color: #0058a3;
  }

.Head3 .Navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80%;
    left: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Head3 .Navbar .column div{
    font-size: 15px;
    font-weight: 600;
}

/* .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
    color: black;
} */

.dropdown:hover .dropdown-content {
    display: block;
  }

.row {
    display: flex;
    flex-direction: row;
}

.column {
    width: 20%;
    padding:10px;
    /* background-color: #ccc; */
    /* height: 250px; */
    display: inline-block;
}

.column div {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}
.column a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
  }
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      height: auto;
    }
  }