.Adv1 {
    max-width:1000px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin: auto;
     padding: 5px 0 5px 0;
     height: 50px;
}

.Adv1 .Icon {
    margin:auto;
    margin-right: 10px;
}

.Adv1-item {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(165, 164, 164);
    padding: 0 40px 0 40px;
    background-color: rgb(240, 238, 238);
}

.Adv1-item p {
    color: black;
}

#Adv2 {
    overflow: hidden;
    height: 400px;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.Adv2-container {
    /* width: 5200px; */
    position: absolute;
    width: 500%;
    height: 100%;
    transform: translate(0,0); /* 初始位置位移 */
    animation: loop 10s linear infinite;
}

.Adv2-container img{
    width:20%;
    height:400px;
    float: left;
}
@keyframes loop {
    0% {transform: translate(0,0);}
    15% {transform: translate(0,0);} /* 停留1500ms */

    20% {transform: translate(-20%,0);} /* 切换500ms 位移-20% */
    35% {transform: translate(-20%,0);}

    40% {transform: translate(-40%,0);}
    55% {transform: translate(-40%,0);}

    60% {transform: translate(-60%,0);}
    75% {transform: translate(-60%,0);}

    80% {transform: translate(-80%,0);}
    95% {transform: translate(-80%,0);}

    100% {transform: translate(0,0);} /* 复位到第一张图片 */
}


.PopCategories {
    margin: 20px;
    position: relative;
}

.Title {
    margin: auto;
    padding: 30px 20px 20px 20px;
    border-top-style: solid;
    border-width: 0.05em;
    border-color: #767676;
    width: 80%;
    float:center;
}

.PopCategories .Categories-image {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.PopCategories .PopImage{
    height:270px;
    display: inline-block;
    width: 220px;
    overflow: hidden;
    padding-right: 20px;
}

.PopImage img {
    height: 220px;
    width: 220px;
    display: block;
    /* margin: auto; */
    float: left;
}

.PopCategories .desc {
    padding:15px;
    text-align: center;
}

.Idea {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    /* height: 400px; */

}

.Idea-item {
    display: flex;
    flex-direction: row;
}

.Idea-image img{
    height: 200px;
    width: 300px;
    padding: 5px;
    display: inline-block;
}

.Idea-image .Image-describe p {
    font-size: 18px;
}
.Idea-image ul li{
    list-style-type: disc;
    text-align: left;
    font-size: 15px;
}
.ViewMore {
    margin: 2em 3em 4em 3em;
}

.ViewMore-link {
    padding: 1em 3em 1em 3em;
    background-color:  #0058a3;
}

.View-more-text {
    color: white;
    font-weight: bold;
}

  