.Container {
    width: 800px;
    position: relative;
    margin:auto;
    padding: 10px 0 30px 0;
    font-family: sans-serif;
}

.Login-title {
    font-size: 32px;
    font-weight: bold;
}

.Login {
    padding: 5px 0 20px 0;
    width: inherit;
    border-bottom: 0.2px solid gray;
}

.LoginForm {
    width: 450px;
    margin: auto;
}

.LoginInput {
    padding: 12px;
    text-align: left;
    font-size: 15px;
}

.LoginInput .title {
    font-size: 20px;
}

.LoginInput input{
    width: 463.5px;
    height: 43px;
}

.LoginInput a {
    color: #407ab1;
}

.SubmitButton {
    border: solid;
    border-width: 1px;
    background-color: #407ab1;
    color: white;
    width:150px;
    height: 40px;
    font-weight: bold;
    margin:auto;   
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register {
    margin: 30px 0 30px 0;
    text-align: left;
    padding: 0 150px 0 150px;
    /* width: 700px; */
}

.Register h1 {
    padding-left: 10px;;
}

.Register ul li{
    padding-top: 5px;
}

.Create {
    padding:5px 0 5px 0;
    border-style: solid;
    border-width: 1px;
    margin:auto;
    width: 250px;
    text-align: center;
    font-weight: bold;
}

.tips {
    font-size: 7px;
    color: red;
}