.account-title {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 10px;
}

.orderInfo {
    max-width: inherit;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.orderInfo .orderDtails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid gray;
}

.orderInfo .product {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;

}

.orderInfo .product img {
    width: 150px;
    height: 150px;
}

.orderInfo .productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.productInfo .product-name {
    text-align: left;
}

.productInfo .product-otherinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product .btn {
    margin-top: 10px;
}
.productInfo button {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-appearance: none;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #0058a3;
    color: white;
    border: white;
    
}