.ProductInfo {
    width: 918px;
    overflow: hidden;
    margin:auto;
}

.Product-Nav {
    width: 918px;
    overflow: hidden;
}

.Product-Nav .Icon{
    float: left;
}

.Product-Nav div {
    float: left;
    padding-left: 1px;
    font-weight: bold;
}

.ProductSpecInfo{
    display: flex;
    flex-direction: row;
}

.ProductSpecInfo .ProductImage {
    border-style: solid;
    border-width: 1px;
    border-color:gainsboro;
    margin: 10px;
    clear: both;
    display: inline-block;
    height: 300px;
}

.ProductSpecInfo .ProductImage img {
    width: 300px;
    height: 300px;
}

.ProductSpec {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 30px;
    display: inline-block;
}

.ProductSpec .ProductName {
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
}

.ProductSpec .ProductCode {
    font-size:8px;
    float: left;
}

.Price {
    font-size: 20px;
    font-weight: bolder;
    float: right;
}

.Star{
   float:left;
   clear: both;
   align-items: center;
}

.Star a {
    padding-left: 10px;
}

.QuantityInput {
    clear: both; 
    width: 300px;
    margin:auto;
}

.QuantityInput p {
    font-size: 20px;
    display: inline-block;
    padding-right: 10px;
}

.QuantityInput input {
    height:30px;
    width:150px;
}

.Total {
    padding: 0px 20px 0px 20px;
    width: 300px;
    margin:auto;
}

.Total p{
    font-size: 15px;
    display: inline-block;
    font-weight: bold;  
    padding: 0 20px 0 20px;
}

.TotalPrice {
    float: right;
}

.Icon {
    margin: auto;
    float: left;
}

.ButtonContent {
    margin: 10px auto 10px auto;
    font-size: 15px;
    font-family: inherit;
    color: white;
    font-weight: bold;
    -webkit-appearance:none; 
    background-color: #0058a3;
    width: 300px;
    height: 50px;
    border: #0058a3;
    cursor: pointer;
}

.ProductMore {
    width: 918px; 
}

.ProductMore li{
    border-bottom-style: solid;
    border-width: 1px;
    width: inherit;
    margin: auto;
    padding: 15px 0 15px 0;
    font-size: 20px;
    list-style: none;
    text-align: left;
}

.ProductMore .Icon {
    float:left;
    top:50%;
    align-items: center;
}

.You-might-like {
    margin: 50ox;
}

.You-might-like img{
    width: 200px;
    height: 180px;
    overflow: hidden;
}

.You-might-like .desc {
    font-size: 15px;
}
.You-recent-view-products {
    padding: 30px 0 30px 0 ;
    display: inline-block;
}

.You-recent-view-products-container {
    width: 918px; 
}

.ProductImage {
    float: left;
}

.add {
    border-style: solid;
    border-width: 1px;
    margin: 5px 10px 3px 10px;
    width: 150px;
    height: 25px;
    -webkit-appearance: none;
    font-size: 13px;
}

