.ProductListContent {
    margin-bottom: 60px;
}

.ProductListContentContainer {
    margin:auto;
    width: 80%;
    display: flex;
    max-width: 1000px;
}

.FilterTitle {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0 20px 15px;
}

.Filter a {
    float: right;
    padding:25px 10px 20px 0;
}

.Filter {
    display: block;
    border-style: solid;
    border-width: 1px;
    width: 550px;
    text-align: left;
}

.Filter .Icon {
    float: right;
}

.FilterName {
    padding: 10px 0px 10px 8px;
    font-weight: bold;
    font-size: 17px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    width: 170px;
    text-align: left;
    margin: auto;
}

.ProductAdv img {
    width: 80%;
    max-width: 1000px;
    margin:auto;
    height: 250px;
    overflow: hidden;
}

.Product-list {
    display: block;
    padding-left: 40px;
}

.ProductImage {
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    margin: 2px;
    float: left;
}

.ProductImage .desc {
    border-top-style:solid;
    border-width: 1px;
    border-color: gainsboro;
    width: 200px;
    text-align: left;
    font-size: 15px;
}

.ProductImage .price {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.ProductImage img {
    width: 200px;
    height: 180px;
    overflow: hidden;
}

.ProductImage .CartBtn {
    border-style: solid;
    border-width: 1px;
    margin: 5px 10px 3px 10px;
    width: 150px;
    height: 25px;
    -webkit-appearance: none;
    font-size: 13px;
}

.Product-list a {
    text-decoration: none;
    color: black;
}

.empty_searching {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.empty_searching_content {
    font-size: 20px;
    margin-top: 40px;
}

.empty_searching_tips {
    font-size: 10px;
}

.empty_category {
    font-size: 20px;
    margin:100px;
}