.RegisterPage {
    max-width:1000px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}

.RegisterPage-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 26px;
}

.RegisterPage-Container {
    max-width: 630px;
    width: 100%;
    margin:auto;
}

.RegisterPage-subtitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    padding: 30px 10px 10px 10px;
}

.RegisterPage .Register-form {
    /* max-width: 600px; */
    width: 100%;
    text-align: left;
    margin: auto;
}

.Register-form .Register-name {
    margin-top: 10px;
}

.Register-form input {
    max-width: 700px;
    width: 100%;
    padding:12px;
    outline: none;
}

.Register-form .check-username {
    font-size: 7px;
    color: red;
}

.Register-form .Password-tips {
    font-size: 10px;
    color: gray;
}

.Contact-preference {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

.RegisterPage-Container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.RegisterPage-Container ul li{
    text-align: left;
}

.Privacy-policy {
    text-align: left;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.Privacy-policy div {
    color: #407ab1;
    padding-left: 5px;
}

.Createbtn {
    padding:10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #407ab1;
    border: 1px solid #407ab1;
    width: 250px;
    margin: auto;
    margin-top: 70px;
}

.SubmitBtn {
    border: white;
    background-color: #0058a3;
    color: white;
    font-size: 20px;
    width: 220px;
    height: 35px;
    margin: 10px;
}

.BacktoLogin {
    padding:10px;
    text-decoration: underline;
    color: #407ab1;
    font-size: 13px;
}

