.account-title {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 10px;
}
.saveforlater-product {
    display: flex;
    flex-direction: row;
    max-width: inherit;
    border: 1px solid gray;
}

.saveforlater-product img {
    width: 150px;
    height: 150px;
}

.saveforlater-productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.saveforlater-product-name {
    text-align: left;
}

.saveforlater-product-otherinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.product-quantity {
    width: 80px;
    margin-right: 30px;
}
.saveforlater-product .btn{
    text-align: right;
    margin: 20px 20px 20px 0;
} 
.saveforlater-product button {
    -webkit-appearance: none;
    width: 180px;
    height: 40px;
    margin: auto;
    font-size: 15px;
    background-color: #0058a3;
    color: white;
    border: white;
}

