.Cart {
    max-width: 1200px;
    width:100%;
    margin:auto;
    display: flex;
    flex-direction: row;
}

.CartContainer1 {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.Cart-title {
    font-size: 30px;
    padding:5px;
}

.View-save-for-later {
    font-size: 15px;
    padding-top: 25px;
    text-decoration: underline;
    color: #0058a3;
}

.CartContainer2 {
    max-width: 800px;
    width: 100%;
    /* margin: auto; */
    border: 1px solid gray;
    margin-bottom: 20px;
}

.Collection-title {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    width: 95%;
    margin: auto;
    padding: 10px;
}

.Collection-item {
    display: flex;
    flex-direction: row;
}

.Collection-item img {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.Collection-item .Item-right {
    display: flex;
    flex-direction: column;
}

.Collection-item .Item-info {
    width: 450px;
    text-align: left;
    padding:10px;
}

.Collection-item .Item-price {
    font-size: 20px;
    margin:10px;
}
.Item {
    display: flex;
    flex-direction: row;
    max-width: 580px;
    width: 100%;
}
.Item-change {
    display: flex;
    flex-direction: column;
}

.Number {
    display: flex;
    flex-direction: row;
    float: right;
    margin: 15px;
}

.Number input {
    width: 50px;
}
.Change {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    color: #0058a3;
}

.Change .Remove {
    padding-right: 5px;
    border-right: 2px solid gray; 
}

.Change .Save-for-later {
    padding-left: 5px;
}

.change {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.change-btn {
    padding: 6px;
    border: 1px solid #0058a3;
    margin: 5px;
    width: 200px;
    font-size: 20px;
    color: white;
    background-color: #0058a3;
}

.CartContainer-right {
    margin:50px;
    border: 1px solid black;
    max-width: 400px;
    width: 100%;
}

.CartContainer-right .Cart-title {
    margin:20px;
    border-bottom: 1px solid gray;
}

.CartContainer-right .Subtotal {
    display: flex;
    flex-direction: row;
    padding:5px 0 5px 20px;
    justify-content: space-between;
}

.CartContainer-right .Subtotal-price {
    margin-right:20px;
}

.CartContainer-right .Cart-total-price {
    display: flex;
    flex-direction: row;
    padding:5px 0 5px 20px;
    justify-content: space-between;
    font-weight: bold;
}

.CartContainer-right .Voucher {
    margin: 10px;
    padding:10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.CartContainer-right .Checkout-btn {
    /* padding:10px; */
    margin:30px 10px 10px 10px;
    border: white;
    background-color: #0058a3;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 17px;
}

.empty {
    font-size: 30px;
    height: 300px;
    margin: 100px;
}

.BoughtTogether{
    max-width: 1200px;
    width:100%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.BoughtTogether .Cart-title{
    margin:auto;
    max-width: 1200px;
    width: 100%;
    text-align: left;
    padding-bottom: 50px;
}


